-provide(:title, @user.display_name)
.row
  .col-md-9
    %h2.title
      #{@user.display_name} -
      %span.black
        Profile
  .col-md-2.col-md-offset-1
    - if (current_user == @user)
      = link_to "Edit Profile", user_path(@user)