
//@media queries
/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-tablet) {
//   .container {
//     max-width: $container-tablet;
//   }
 //$container-tablet: 750px;

/* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-desktop) {
//   .container {
//     max-width: $container-desktop;
//   }
//$container-desktop: 970px;

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: $screen-lg-desktop) {
//   .container {
//     max-width: $container-lg-desktop;
//   }
//$container-large-desktop: 1140px + $grid-gutter-width;

//$grid-gutter-width  : 3rem;
// $screen-tablet: 800px;
// $container-tablet: 960px;
// $container-desktop: 1200px;
// $container-lg-desktop: 1200px;
//$grid-padding   : $gutter-width;  // grid-padding equal to gutters

//https://github.com/twbs/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_variables.scss

/* Colors
----------------------------------------- */
$color1: #FF0000; // Red
$color2: #FFBF00; // Orange
$color3: #FFFF00; // Yellow
$color3a: #FEFB9C; // Yellow
$color4: #7FFF00; // Green
$color5: #007FFF; // Light Blue
$color6: #00FFFF; // Cyan
$color7: #0000FF; // Blue
$color8: #7F00FF; // Purple
$color9: #FF00FF; // Magenta
$color10: #000; // Black
$color11: #FFF; // White
$color12: #451508; // Reddish Brown
$color13: #210A04; // Dark Brown
$color14: #962101; //orange-brown
$color15: #D51007; //red
$color16: #E53D2B; //flatui red
$color17: #3DB346; //flatui green
$color18: #18ABDF; //flatui blue
$color19: #E5A914; //flatui yellow
$kinfonet-purple: #e4ddf7;

$brand-primary: #74b73f;
//http://www.w3schools.com/tags/ref_color_tryit.asp?color=WhiteSmoke
//http://colorschemedesigner.com/
//http://www.w3schools.com/tags/ref_colorpicker.asp
//reds
//$primary-color1: #E45353;
$primary-color1: #d51007;
$primary-color2: #905656;
$primary-color3: #6F0B0B;
$primary-color4: #FCA2A2;
$primary-color5: #FCDBDB;
//blues
$secondary-color2: #43589a;
//#4b97c7

//grays
$gray-lightest: #e8e8e5;

//borders dark to light
$border-gray-lighter: #d5d5d5;

//gray backgrounds
$bg-gray-lighter: #eaeaea;
$bg-gray-lightest: #fafafa;

//type
$muted-text: #666;

/* Bootstrap variable overrides - 
http://getbootstrap.com/customize/#variables-nav
----------------------------------------- */

//links
$link-color: #0187C5;

//buttons

$btn-submit: #1699c8;
$brand-primary: $secondary-color2;

//nav
$navbar-default-link-hover-color: $primary-color5;

//background-color: lighten($color10, 93.5%); //#eee
//border-top: 2px solid darken($color11, 13.5%); //#ddd

//forms
//http://www.timeanddate.com/timer/#
//notice
//bg color: #dedede
//border: #9fba7d


/* Typography
----------------------------------------- */
//$default-font-family: 'Open Sans', 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
//$serif-font-family: Georgia, 'Times New Roman', Times, serif;

// Load external fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
//@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic")