/*
 * Kinfonet Documentation
 * Special styles for Kinfonet sections.
 *
 * Table of contents:
 *
 * Scaffolding
 * Main navigation
 * Footer
 * Social buttons
 * Homepage
 * Page headers
 * Old docs callout
 * Ads
 * Side navigation
 * Docs sections
 * Callouts
 * Grid styles
 * Examples
 * Code snippets (highlight)
 * Responsive tests
 * Glyphicons
 * Customizer
 * Miscellaneous
 */


// links
// ====================================================================

/*
 * Main navigation
 *
 * Turn the `.navbar` at the top brown.
 */

.kinfonet-nav {
  //text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  //background-color: $color16;
  //border-color: darken($color16, 5%);
  //box-shadow: 0 1px 0 rgba($color11,.1);
  //min-height: 55px;
 
  .brand {
   position: absolute;
    a {
    display: block;
    color: #65AD14;
    font-size: 26px;
    line-height: 1;
    padding: 0; 
    letter-spacing: 0.5px;
    }
  }
  nav {
    position: relative;
  }

  ul.nav{
    margin: 0 0 0 120px;
    float: none;
    overflow: hidden;
  }
  .navbar-nav > li {
  float: left;
  padding: 0 15px 0 0;
  }
  .navbar-nav > li > a {
     color: #000;
     padding: 8px;
     line-height: 20px;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 600;
  }
  .navbar-nav > li > a:hover {
    color: $color11;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover {
    color: #acde84;
    //background-color: darken($color16, 3%);
  }
}

/*
 * Forms
 *
 */

 /* forms */




input, textarea, select, .uneditable-input {
   border: 1px solid #bbb;
   width: 100%;
   margin-bottom: 15px;
   padding: 6px 12px;
 }

 input {
   height: auto !important;
 }

 #error-explanation {
   padding: 8px;
   border: 1px solid #B60040;
   background: lighten(#FDD, 2%);
   margin-bottom: 20px;
   color: #D51007;
   h3 {
     margin-bottom: 10px; }
   p {
     font-size: 12px;
     margin-bottom: 10px; }
   ul {
     margin: 0 2px 5px 0;
     padding-left: 8px;
     list-style: none;    
     li {
       font-size: 12px;
       margin-bottom: 5px; } }
 }


 //TO DO: Fix this
 div.field_with_errors {
   display: inline;
   input {
     border: 1px solid #B60040;
   }
 }

 /* misc
 ---------------------------------------------  */

 hr.spacer {
   clear: both;
   width: 100%;
   height: 0.083em;
   margin: 0 0 1.583em;
   border: none;
   background: white;
   color: white;
 }

// .kin-nav {
  //FEFB9C
//   background: darken(#CC0033, 5%);
//   border-color: #A90D0D;
//   text-shadow: 0 -1px 0 rgba(0,0,0,.15);
//   box-shadow: 0 1px 0 rgba(255,255,255,.9);
// }

// .kin-text-logo {
//   float: left;
//   margin: 10px 10px  10px 0;
// }

// ul.nav {
//   overflow: hidden;
//   li {
//     float:left; } }

// ul.nav li > a {
//   color: lighten(#e57f99, 13.5%);
//   padding: 8px 8px;
//   &:hover {
//     color: #ffffff;
//     background: #CC0033;
//   }
// }

// ul.nav > .active > a {
//   color: #ffffff;
// }


// .make-column(8);

// .navbar-header {
//   a.kin-logo {
//     padding: 0 0 15px;
//   }
// }

// .kin-nav ul.nav {
//   float:left;
//   li {
//     float: left;
//   }
// }

// .kin-nav .navbar-nav > li > a {
//     color: lighten(#FF8073, 13.5%);
//     &:hover {
//       color: #ffffff;
//     }
// }
// .kin-nav .navbar-nav > .active > a {
//     color: #ffffff;
//     background: none;
// }