
/* main styles
--------------------------------------------- */
body {
  font-family: $default-font-family;
  position: relative;
  color: #444;
  background: image-url("body-bg.png") repeat-x 0 0;
  padding-top: 10px;
}

/* links */
a {
  outline: none;
  border: 0;
}


/* buttons*/

/* header styles
--------------------------------------------- */
header {
  h1.text-hide {
    padding: 0;
    margin: 0; }
  .kn-blockquote {
    margin: 0 0 5px;
    clear: both;
    background:  transparent image-url("q_left.png") 1% 15% no-repeat;
    p {
      color: #414141;
      font-family: $serif-font-family;
      line-height: 1.4;
      padding: 10px 40px 5px;
      background: transparent image-url("q_right.png") 99% 85% no-repeat; } }
  .kn-blockquote + footer {
    p span {
      color: $muted-text; } }
}


/* nav styles
--------------------------------------------- */

.navbar-default {
  background-color: $primary-color1;
  .navbar-nav { width: 100%;
    li a {
      color: #ffffff; }
   }
  
  .navbar-toggle{
    padding: 5px 6px;
    margin-top: 12px;
    margin-bottom: 4px;
   .icon-bar {
    background: #ddd;
    width: 22px;
    height: 2px;
  }}
  
  button.navbar-toggle-text {
    color: #fff;
    float: left;
    border-color: darken($primary-color5, 50%);
    margin: 10px 0 0 15px;
    padding: 5px 15px 5px 15px;
    border-color: $primary-color3;
    background: #fff;
    color: #777;
  }
}

.navbar-default .navbar-nav > li > a.btn-sign-in {
  margin: 10px 0 0 15px;
  padding: 5px 15px 5px 15px;
  border-color: $primary-color3;
  background: #fff;
  color: #777;
}
.navbar-default .navbar-nav > li > a.btn-sign-up {
   margin: 10px 0 0 15px;
   padding: 5px 15px 5px 15px;
   border-color: darken($primary-color5, 50%);
   background: $primary-color5;
   color: $primary-color1;
   &:hover {
    background: #ffffff;
    color: #777;
   }
}


/*
 * Forms
 *
 */

/* form styles
--------------------------------------------- */

 .btn-submit {
   @extend .btn-info;
 }

label {
  display: block;
  font-size: 90%;
}
input:not([type='submit']), textarea, select, .uneditable-input {
   border: 1px solid #bbb;
   width: 90%;
   margin-bottom: 15px;
   padding: 6px 12px;
   outline: none;
 }

 input {
   height: auto !important;
 }

 #error-explanation {
   padding: 8px;
   border: 1px solid #B60040;
   background: lighten(#FDD, 2%);
   margin-bottom: 20px;
   color: #D51007;
   h3 {
     margin-bottom: 10px; }
   p {
     font-size: 12px;
     margin-bottom: 10px; }
   ul {
     margin: 0 2px 5px 0;
     padding-left: 8px;
     list-style: none;    
     li {
       font-size: 12px;
       margin-bottom: 5px; } }
 }


 //TO DO: Fix this
 div.field_with_errors {
   display: inline;
   input {
     border: 1px solid #B60040;
   }
 }

 /* misc
 ---------------------------------------------  */

 hr.spacer {
   clear: both;
   width: 100%;
   height: 0.083em;
   margin: 0 0 1.583em;
   border: none;
   background: white;
   color: white;
 }

/* general styles
--------------------------------------------- */
.callout-info {
  @extend %callout;
  background-color: lighten($state-info-bg, 6%);
  border-color: $brand-info;
  h4 {
    margin: 0 0 5px;
    color: $brand-info;
  } 
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: $border-radius-base;
}
