/* external web fonts
--------------------------------------------- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700");

/* variables
--------------------------------------------- */
$OpenSans: 'Open Sans', 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
$DroidSerif: "Droid Serif", Georgia, 'Times New Roman', Times, serif;
$HelveticaSans: 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
$GeorgiaSerif: Georgia, 'Times New Roman', Times, serif;

/*http://www.flatuicolorpicker.com/
--------------------------------------------- */
$Valencia: #D64541; //navbar red


/* main styles
--------------------------------------------- */
html {
  overflow-y: scroll;
}

body {
  position: relative;
  color: #444;
  line-height: 1.5;
  background: image-url("body-bg.png") repeat-x 0 0;
  padding-top: 10px;
}

/* links */
a {
  outline: none;
  border: 0;
  &:hover {
    text-decoration: none;
  }
}

a.plain {
  text-decoration: none;
  color: inherit;
}

/* typography*/

h2.title {
  @extend .page-header;
  font-size: 150%;
  color: $color15;
  margin: 0 0 20px;
  border-bottom: 2px solid $color18;
  span {
    color: #36332F;
  }
}

h2.centered {
  @extend h2.title;
  color: #36332F;
  text-align: center;
}

.black {
  color: #36332F;
}

.red {
  color: $color15;
}

.gray {
  color: $gray;
}
.gray-light {
  color: $gray-light;
}

p.sub-head {
  color: $gray-light;
  font-size: 90%;
}

/* header styles
--------------------------------------------- */
header {
  h1.text-hide {
    padding: 0;
    margin: 0; }
  .quote-of-the-day {
    margin: 0 0 5px;
    clear: both;
    background:  transparent image-url("q_left.png") 1% 15% no-repeat;
    p {
      color: #222;
      font-family: $DroidSerif;
      line-height: 1.4;
      padding: 10px 40px 5px;
      background: transparent image-url("q_right.png") 99% 85% no-repeat; } }
  //The + selector will apply style to footer directly following div only.
  .quote-of-the-day + footer {
    a {
      color: #222;
      transition: all 0.25s ease-in-out;
      font-family: $DroidSerif;

    } }
}

/* main menu
--------------------------------------------- */
.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: $Valencia;
  .navbar-nav { width: 100%;
    li a {
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all 0.25s ease-in-out;
    }
   }
  
  .navbar-toggle {
    padding: 5px 6px;
    margin-top: 12px;
    margin-bottom: 4px;
   .icon-bar {
    background: #ddd;
    width: 22px;
    height: 2px;
  }}
  
  button.navbar-toggle-text {
    color: #fff;
    float: left;
    border-color: darken($Valencia, 50%);
    margin: 10px 0 0 15px;
    padding: 5px 15px 5px 15px;
    border-color: $primary-color3;
    background: #fff;
    color: #777; }
}


/* user links
--------------------------------------------- */

ul.user-links {
  margin: 0 0 40px;
  li {
    border-right: 1px solid #777;
    padding: 0 8px;
    line-height: 1;
  }
  li.last {
    border: none;
    margin: 0;
  }
  li a {
    color: #000;
    font-family: $HelveticaSans;
    font-size: $font-size-small;
    transition: all 0.25s ease-in-out;
  }
}


/*
 * Forms
 *
 */

/* form styles
--------------------------------------------- */
form {
  margin: 0 0 15px;
}

.white-well form {
  margin: 0;
}

.form-group.last {
  margin-bottom: 30px;
}

.form-group.clearfix div.left,
.form-group.clearfix div.right
 {
  width: 100%;
  margin: 0;
}

@media (min-width: $screen-sm) {
  .form-group.clearfix div.left {
    float: left;
    width: 48%;
    margin-right:4%; 
  }

  .form-group.clearfix div.right {
    float: right;
    width: 48%;; 
  }
}

.btn-submit {
  background: $btn-submit;
  color: white;
  &:hover {
    background: darken($btn-submit, 5%);
    color: white
     }
}

label {
  font-size: 90%;
  margin: 0 0 3px;

}

span.hint {
  font-family: $GeorgiaSerif;
  font-style: italic;
  font-size: $font-size-small;
  font-weight: normal; 
}
p.hint {
  @extend span.hint;
  text-align: center;
}

.form-group.radio {
  padding: 0;
  input[type='radio'] {
    float: left;
    margin: 3px 0.5em 0 0;
  }
}

.form-group input.full-width {
  width: 100%;
}

select, textarea {
  font-size: 90%;
}

textarea {
  min-height: 150px;
}

input[type='text'], 
textarea, select, .uneditable-input {
  margin: 0.1em 0;
  border: 1px solid rgb(185,185,185);
  border-top-color: rgb(160,160,160);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  @include border-radius(2px);
}

.form-group span.help {
  display: block;
  font-family: $GeorgiaSerif;
  font-style: italic;
  font-size: $font-size-small; 
}

#error-explanation {
  padding: 8px;
  border: 1px solid #B60040;
  background: lighten(#FDD, 2%);
  margin-bottom: 20px;
  color: #b60040;
  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px; }
  p {
   font-size: 12px;
   margin-bottom: 10px; }
  ul {
   margin: 0 2px 5px 0;
   padding-left: 8px;
   list-style: none;    
   li {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px; } }
}

 div.field_with_errors {
   display: inline;
   input {
     border: 1px solid #B60040;
   }
 }

/* static-pages
 ---------------------------------------------  */
/* home */

.banner {
  position: relative;
  p.copy {
    font-family: $DroidSerif;
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
    padding: 100px 20px 35px 20px;
  }
  p.cite {
    position: absolute;
    right: -150px;
    bottom: 0;
    margin: 0;
  }
}

.heading-title {
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.widget {
  //border: 1px solid #777;
  //background: #59ABE3;
  .heading-title {
    font-size: 14px;
  }
  p.sub-heading {
    color: #22313F;
    width: 80%;
    margin: 0 auto 10px;;
  }
  .bottom-container {
    padding-bottom: 30px;
    //temp
    img {min-height: 233px;}
    .copy-container {
      background: #fff;
      height: 235px;
      margin: -20px auto 0;
      position: relative;
      text-align: center;
      width: 80%;
      .copy {
        font-family: $GeorgiaSerif;
        font-size: 16px;
        line-height: 24px;
        padding: 35px 10px 18px;
      }
    }
  }
}

.widget.community {
  .heading-title {
    color: #3498DB;
  }
  .bottom-container {
    background: #59ABE3; 
      a.community-btn {
        @include button-variant(#ffffff, #2574A9, #2574A9);
      }
  } 
}

.widget.events {
  .heading-title {
    color: #F39C12;
  }
  .bottom-container {
    background: #F39C12;
      a.events-btn {
        @include button-variant(#ffffff, #F27935, #F27935);
      }
  } 
}
/* search
 ---------------------------------------------  */
.search-metadata {
  @extend .small;
  color: $gray-light;
  margin: 0  0 15px;
}

 /* users
 ---------------------------------------------  */
 /* edit */

 form.edit_user {
  .current-avatar {
    width: 25%;
    margin-right: 2%;
    float:left;
    text-align: center;
  span {
    display: block;
    font-size: 85%;
  }
  }
  .upload-avatar {
      width: 70%;
      float:left;
  }
 }

 /* misc
 ---------------------------------------------  */

/* general styles
--------------------------------------------- */
.generic-box {
  @extend %box;
  .title {
    margin: 0 0 15px; }
}

.white-well {
  @extend .well;
  padding: 25px 40px;
  background: #fff;
  border-color: $gray-lightest;
  border-color: rgb(185, 185, 185);
  position: relative;
  @include border-radius(2px);
}

.callout-info {
  @extend %callout;
  background-color: lighten($state-info-bg, 6%);
  border-color: $brand-info;
  h4 {
    margin: 0 0 5px;
    color: $brand-info;
  } 
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: $border-radius-base;
}
