/* main styles
--------------------------------------------- */
html {
  overflow-y: scroll;
}

body {
  //font-family: $default-font-family;
  position: relative;
  color: #444;
  background: image-url("body-bg.png") repeat-x 0 0;
  padding-top: 10px;
}

/* links */
a {
  outline: none;
  border: 0;
}

/* typography*/
h2.title {
  @extend .page-header;
  font-size: 24px;
  color: #36332F;
  margin: 0 0 40px;
  border-bottom: 2px solid $color18;
}


.text-muted {
    color: #839496;
}
/* header styles
--------------------------------------------- */
header {
  h1.text-hide {
    padding: 0;
    margin: 0; }
  .kn-blockquote {
    margin: 0 0 5px;
    clear: both;
    background:  transparent image-url("q_left.png") 1% 15% no-repeat;
    p {
      color: #414141;
      font-family: $font-family-serif;
      line-height: 1.4;
      padding: 10px 40px 5px;
      background: transparent image-url("q_right.png") 99% 85% no-repeat; } }
  .kn-blockquote + footer {
    p span {
      color: $muted-text; } }
}

/* nav styles
--------------------------------------------- */
.navbar {
  margin-bottom: 30px;
}

.navbar-default {
  background-color: $primary-color1;
  .navbar-nav { width: 100%;
    li a {
      color: #ffffff; }
   }
  
  .navbar-toggle {
    padding: 5px 6px;
    margin-top: 12px;
    margin-bottom: 4px;
   .icon-bar {
    background: #ddd;
    width: 22px;
    height: 2px;
  }}
  
  button.navbar-toggle-text {
    color: #fff;
    float: left;
    border-color: darken($primary-color5, 50%);
    margin: 10px 0 0 15px;
    padding: 5px 15px 5px 15px;
    border-color: $primary-color3;
    background: #fff;
    color: #777; }
}

.navbar-default .navbar-nav > li > a.btn-sign-in {
  margin: 10px 0 0 15px;
  padding: 5px 15px 5px 15px;
  border-color: $primary-color3;
  background: #fff;
  color: #777;
}
.navbar-default .navbar-nav > li > a.btn-sign-up {
   margin: 10px 0 0 15px;
   padding: 5px 15px 5px 15px;
   border-color: darken($primary-color5, 50%);
   background: $primary-color5;
   color: $primary-color1;
   &:hover {
    background: #ffffff;
    color: #777; }
}

/*
 * Forms
 *
 */

/* form styles
--------------------------------------------- */
form {
  margin: 0 0 15px;
}

.white-well form {
  margin: 0;
}

.form-group.last {
  margin-bottom: 30px;
}

.btn-submit {
   @extend .btn-default;
   background: whitesmoke;
   &:hover {
    background: darken(whitesmoke, 5%); }
 }

label {
  display: block;
  font-size: 90%;
  margin: 0;
}


.form-group input:not([type='submit']), textarea, select, .uneditable-input {
   //border: 1px solid #bbb;
   //width: 100%;
   margin: 0.1em 0;
   //padding: 6px 12px;
   //outline: none;
}

.form-group span.help {
  display: block;
  font-family: $font-family-serif;
  font-style: italic;
  font-size: $font-size-small; 
}

#error-explanation {
  padding: 8px;
  border: 1px solid #B60040;
  background: lighten(#FDD, 2%);
  margin-bottom: 20px;
  color: #b60040;
  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px; }
  p {
   font-size: 12px;
   margin-bottom: 10px; }
  ul {
   margin: 0 2px 5px 0;
   padding-left: 8px;
   list-style: none;    
   li {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px; } }
}

 div.field_with_errors {
   display: inline;
   input {
     border: 1px solid #B60040;
   }
 }

 /* misc
 ---------------------------------------------  */

 hr.spacer {
   clear: both;
   width: 100%;
   height: 0.083em;
   margin: 0 0 1.583em;
   border: none;
   background: white;
   color: white;
 }

/* general styles
--------------------------------------------- */
.white-well {
  @extend .well;
  padding: 30px;
  background: #fff;
  border-color: whitesmoke;
  @include border-radius(6px);
}

.callout-info {
  @extend %callout;
  background-color: lighten($state-info-bg, 6%);
  border-color: $brand-info;
  h4 {
    margin: 0 0 5px;
    color: $brand-info;
  } 
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: $border-radius-base;
}
