- flash.each do |key, value|
  %div.alert.alert-dismissable.fade.in{ "data-alert" => "alert", class: "alert-#{key}" }
    %btn.close{data: {dismiss: "alert"}, :'aria-hidden' => "true"}
      ="&times;".html_safe
    = value