.container
  %ul.user-links.list-inline.pull-right
    - unless user_signed_in?
      %li>= link_to "Create an account", new_user_registration_path
      %li.last>= link_to "Sign in", sign_in_path
    - else
      %li>= link_to "Settings", edit_user_path(current_user)
      %li>= link_to "View Profile", profile_path(current_user)
      %li>= link_to "Edit Profile", edit_profile_path(current_user)
      %li.last>= link_to "Sign out", sign_out_path
